body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  overflow: auto;
  background: rgb(32,11,55);
  background: -moz-linear-gradient(-45deg, rgba(32,11,55,1) 0%, rgba(202,55,130,1) 100%);
  background: -webkit-linear-gradient(-45deg, rgba(32,11,55,1) 0%,rgba(202,55,130,1) 100%);
  background: linear-gradient(135deg, rgba(32,11,55,1) 0%,rgba(202,55,130,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#200b37', endColorstr='#ca3782',GradientType=1 );
  color: #fff;
  background-attachment: fixed;
}

h1.ui.header, h2.ui.header, h3.ui.header, h4.ui.header, h5.ui.header {
  color: #fff;
}

.ui.segment {
  color: #4b4b4b;
}

.hidden {
  display: none;
}

/* HOME STYLES */
.ui.card>.image>img, .ui.cards>.card>.image>img {
  height: 145px !important;
}

.ui.segment.active.tab {
  background-color: transparent;
  padding: 1px;
  border: 0px;
  box-shadow: none;
}

.ui.segment > .ui.cards > .ui.card {
  width: calc(33.33333333% - 2em);
  margin-left: 1em;
  margin-right: 1em;
}

.ui.segment > .ui.cards {
  margin-left: -1em;
  margin-right: -1em;
}

.ui.segment > .ui.cards > .ui.card > .image, .ui.segment > .ui.cards > .ui.cards >.card > .image {
  padding: 10px;
}

/* tablets */
@media only screen and (max-width : 620px) {

  .ui.segment > .ui.cards > .ui.card {
      width: calc(50% - 2em);
  }
}

@media only screen and (max-width : 525px) {

  .ui.segment > .ui.cards > .ui.card {
      width: 100%;
  }
}

/* PASSWORD GENERATOR */
.ui.message {
  margin-top: 20px !important;
}

.passwordList {
  display: flex;
  flex-direction: column-reverse;
}

/* FORM CONTAINER */

.ui.form.default label {
  color: #fff !important;
}

.ui.form.default .inline.field {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ui.form.default .inline.field > * {
  width: 50% !important;
}

.ui.form.default .inline.field label {
  text-align: right;
}

.ui.form.default .ui.selection.dropdown {
  min-width: 0;
}

.ui.toggle.checkbox .box:before, .ui.toggle.checkbox label:before {
  background: rgb(0 0 0 / 31%) !important;
}

/* Password Message */
.PasswordMessage .PasswordOutput {
  width: calc(100% - 95px);
  margin-right: 10px !important;
}

/* Security Headers */
.headerTable.ui.table thead tr>th {
  background: #e6e6e6;
  font-size: 20px;
  padding: 14px 12px !important;
}

.headerTable.ui.table thead tr {
  padding: 0px;
}

.headerTable.ui.table tbody tr td:first-child {
  text-align: right;
  width: 200px;
}

.headerTable.ui.table tbody tr td {
  word-break: break-word;  
}

@media only screen and (max-width : 765px) {

  .headerTable.ui.table tbody tr td:first-child {
      text-align: left;
      width: auto;
  }

}

/* CONTINUE */