.ui.card>.image>img, .ui.cards>.card>.image>img {
    height: 165px !important;
}

.ui.segment.active.tab {
    background-color: transparent;
    padding: 1px;
    border: 0px;
    box-shadow: none;
}

.ui.segment > .ui.cards > .ui.card {
    width: calc(33.33333333% - 2em);
    margin-left: 1em;
    margin-right: 1em;
}

.ui.segment > .ui.cards {
    margin-left: -1em;
    margin-right: -1em;
}

/* tablets */
@media only screen and (max-width : 620px) {

    .ui.segment > .ui.cards > .ui.card {
        width: calc(50% - 2em);
    }
}

@media only screen and (max-width : 525px) {

    .ui.segment > .ui.cards > .ui.card {
        width: 100%;
    }
}